* {
  font-family: sans-serif; /* Change your font family */
}

.donor-table {
  justify-content: center;
  
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.donor-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.row{
  box-sizing: border-box;
  justify-content: center;
}

.donor-table th,
.donor-table td {
  padding: 12px 15px;
}

.-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.donor-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.donor-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.donor-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
body{
  font-family: montserrat;
   background-image: url('blood.jpg');
  background-size: cover;
}
nav{
  background: linear-gradient(135deg,  #e6001a, #9b59b6);
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 5px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
